@tailwind base;
@tailwind components;
@tailwind utilities;
/* TailwindCSS imports */

html, body, #root {
    height: 100%;
    width: 100%;
}

#root {
    align-items: center;
    justify-content: center;
    display: flex;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.center {
    @apply flex justify-center items-center
}